
                                
                              
                        
                                <main class="main-content p-0">
                                    <div class="layoutactionbutton"
                                       
                                    >

                                    <!-- <a class="actionbutton"  (click)="Search()"
                                    href="javascript:void(0)" id="product_edit_submit">
                                          <i class="fa fa-search side-icons" style="
                                          font-size: 40px;
                                          margin-top: 12px;
                                      "></i>
                                      </a>


                                    <a class="actionbutton" (click)="ClearViewData()"
                                    href="javascript:void(0)" id="product_edit_submit">
                                          <i class="fa fa-file-text-o side-icons" style="
                                          font-size: 40px; 
                                          margin-top: 12px;
                                      "></i>
                                      </a>
                                        <a class="actionbutton" (click)="OnSave()"
                                      href="javascript:void(0)" id="product_edit_submit">
                                            <i class="fa fa-floppy-o side-icons"  style="
                                            font-size: 40px; 
                                            margin-top: 12px;
                                        "></i>
                                        </a>

                                        <a class="actionbutton" (click)="OnDelete()"
                                        href="javascript:void(0)" id="product_edit_submit">
                                              <i class="fa fa-trash-o side-icons" style="
                                              font-size: 40px;
                                              margin-top: 12px;
                                          "></i>
                                          </a> -->


                                      


                                       
                                    </div>
                                    <form  [formGroup]="CreateTransport">
                                           
                              
                                         <div class="container pl-0">
                                           
                                        <!-- begin::page header -->
                                        <!-- <div class="page-header">
                                            <h3>Create/Transport</h3>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a >COMMON</a></li>
                                                    
                                                    <li class="breadcrumb-item active" aria-current="page">CREATE TRANSPORT </li>
                                                </ol>
                                            </nav>
                                        </div> -->
                                        <div class="page-header">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h3>Create/ Transport</h3>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item">COMMON</li>
                                                    <!-- <li class="breadcrumb-item">MASTERS</li> -->
                                                    <li class="breadcrumb-item active" aria-current="page">CREATE TRANSPORT</li>
                                                </ol>
                                            </nav>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12 text-right m-top-bot-auto" style="padding-right: 0px;">
                                                            <button class="btn btn-danger" (click)="Search()" style="margin-right: 10px;background: #00aad7 !important; border: 1px solid #00aad7 !important;color: white;"><i class="fa fa-bars" style="margin-top: -2px;margin-right: 9px;"></i>Overview</button>
                                                            <button class="btn btn-warning" (click)="ClearViewData()" style="margin-right: 10px;background: #fbc400  !important; border: 1px solid #fbc400  !important;color: white;"><i class="fa fa-check" style="margin-top: -2px;margin-right: 9px;"></i>Clear</button>
                                                            <button class="btn btn-warning" (click)="OnSave()" style="margin-right: 10px;background: #00aad7 !important; border: 1px solid #00aad7 !important;color: white;"><i class="fa fa-check" style="margin-top: -2px;margin-right: 9px;"></i>Save</button>
                                                            <button class="btn btn-danger" (click)="OnDelete()" style="margin-right: 10px;background: #dc3545 !important; border: 1px solid #dc3545 !important;color: white;"><i class="fa fa-trash" style="margin-top: -2px;margin-right: 9px;"></i>Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end::page header -->
                                
                                        <div class="row row-sm">
                                            
                                              

                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-header">Overview</div>
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-2 m-top-bot-auto">
                                                                        <label class="m-0 p-0" for="Transportername">Name</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input type="text" class="form-control mb-3" id="Transportername" formControlName="Transportername" placeholder="Enter Name"
                                                            
                                                                        [ngClass]="{ 'is-invalid': submitted && f.Transportername.errors }"
                                                                        >
            
                                                                           
                                                                        <div *ngIf="submitted && f.Transportername.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.Transportername.errors.required" style="color:red " >Name Required</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2 m-top-bot-auto">
                                                                        <label for="area">Area</label>
                                                                </div>
                                                                <div class="col-md-10 ">
                                                                    <input type="text" class="form-control mb-3" id="area" formControlName="area" placeholder="Enter Area"
                                                            
                                                                    [ngClass]="{ 'is-invalid': submitted && f.area.errors }"
                                                                    >
                                                                   
                                                                    <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.area.errors.required" style="color:red " >area Required</div>
                                                                    </div>
                                                            </div>
                                                           <div class="col-md-2 m-top-bot-auto">
                                                            <label for="notes">Note</label>
                                                            </div>
                                                            <div class="col-md-10">
                                                            <textarea  class="form-control" rows="10" cols="10" formControlName="notes">
                                                            </textarea> 
                                                            </div>
                                                                </div>
                                                            </div>
                                                            <!-- <label for="Transportername">Name</label>
                                                            <input type="text" class="form-control mb-3" id="Transportername" formControlName="Transportername" placeholder="Enter Name"
                                                            
                                                            [ngClass]="{ 'is-invalid': submitted && f.Transportername.errors }"
                                                            >

                                                               
                                                            <div *ngIf="submitted && f.Transportername.errors" class="invalid-feedback">
                                                                <div *ngIf="f.Transportername.errors.required" style="color:red " >Name Required</div>
                                                            </div>
                                                            <label for="area">Area</label>
                                                            <input type="text" class="form-control mb-3" id="area" formControlName="area" placeholder="Enter Area"
                                                            
                                                            [ngClass]="{ 'is-invalid': submitted && f.area.errors }"
                                                            >
                                                           
                                                            <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                                                                <div *ngIf="f.area.errors.required" style="color:red " >area Required</div>
                                                            </div>
                                                            <label for="notes">Note</label>
                                                            <textarea  class="form-control" rows="10" cols="10" formControlName="notes">

                                                            </textarea> -->
                                                         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            

                                           

                                              
                                               
                                              
                                        </div>
                                
                                    </div>
                                </form>
                                </main>

                               
                               