/* @import"../../../assets/media/image/customer.jpg"

.m-b-5{
    color: black !important;
}

.select2-container--default .select2-results__option--highlighted:hover {
    background-color: #5d78ff;
    color: #000 !important;
} */