<main class="main-content p-0">
    <div class="layoutactionbutton"
       
    >

    </div>
    <form  [formGroup]="SalesQuotation">
    <div class="container pl-0">

        <div class="page-header">
            <div class="row">
                <div class="col-md-3">
                    <h3>Sales Quotation</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Sales</li>
                            <li class="breadcrumb-item">Transactions</li>
                            <li class="breadcrumb-item active" aria-current="page">SalesQuotation</li>
                        </ol>
            </nav>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-7 text-right m-top-bot-auto" style="padding-right: 0px;">
                            <button class="btn btn-warning" (click)="OnAdd()" style="margin-right: 10px;background: #00aad7 !important; border: 1px solid #00aad7 !important;color: white;"><i class="fa fa-plus" style="margin-top: -2px;margin-right: 9px;"></i>New</button>
                            <!-- <button class="btn btn-warning" style="margin-right: 10px;background: #d09d05 !important; border: 1px solid #d09d05 !important;color: white;"><i class="fa fa-eye" style="margin-top: -2px;margin-right: 9px;"></i> Preview</button> -->
                        </div>
                        <!-- <div class="col-md-4 m-top-bot-auto">
                             </div> -->
                              <div class="dropdown">
                                <div class="btn btn-gray " data-toggle="dropdown" aria-expanded="false" style="margin-right: 10px;background: #0dbd6c !important; border: 1px solid #0dbd6c !important;color: white; ">
                                    <i  class="fa fa-share-square-o" style="margin-top: -2px;margin-right: 9px;"></i> Export</div>
                                <div  aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right" style="position: absolute; will-change: transform; width: 300px; margin: 9px -1px -1px; padding-top: 0px; border: none; top: 0px; left: -104px; transform: translate3d(-279px, 26px, 0px);">
                                    <div class="row" style="background: #ececec;">
                                        <div class="col-md-12">
                                            <div class="card-header" style="background: #0dbd6c !important; color: white; font-size: 15px;padding: 5px 5px 5px 14px;">
                                                Select Format
                                            </div>
                                        </div>
                                        <div class="col-md-4 m-top-bot-auto">
                                            <p class="p-0" style="margin-left: 20px !important; margin-bottom: 4px;font-weight: 400; font-size: 15px;">Format  </p>
                                        </div>
                                        <div class="col-md-8 mb-3">
                                            <div class="form-check form-check-inline" style="margin-top: 10px;">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" (change)="downloadAsPDF1($event.target.checked)">
                                                <label class="form-check-label" for="inlineRadio1"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" style="width: 25px;"></label>
                                            </div>
                                            <div class="form-check form-check-inline" style="margin-top: 10px;">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"  (change)="ExportTOExcel1($event.target.checked)" >
                                                <label class="form-check-label" for="inlineRadio1"><img src="https://cdn.iconscout.com/icon/free/png-512/microsoft-excel-4-722715.png" style="width: 25px;"></label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 text-right mb-3">
                                            <button class="btn btn-success" style="margin-right: 15px;" (click)="download()">Download</button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                       
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..." formControlName="SearchString" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-warning waves-effect waves-button waves-light" type="button" id="button-addon2"  data-dismiss="modal" (click)="SearchClick()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end::page header -->

        <div class="row row-sm">
            

       
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <div style="display: block">
                                    <canvas
                                        [chartType]="chartType"
                                        [datasets]="chartDatasets"
                                        [labels]="chartLabels"
                                        [colors]="chartColors"
                                        [options]="chartOptions"
                                        [legend]="true"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)">
                                    </canvas>
                                  </div> -->
                                  
                            </div>
                        </div>
                        </div>
                        </div>

                <div class="card">
                    <div class="card-body">
                        <!-- <h6 class="card-title">Sales Quotation</h6> -->
                       
                        <!-- <table class="table table-bordered table-striped table-responsive-stack " id="tableOne">
                            <thead >
                            <tr>
                                <th  style="width: 4%;" >#</th>
                              
                               <th style="width: 11%;" >Date</th>

                               <th style="width:11%;" >Voucher No</th>


                                <th style="width: 18%;" >Customer Name</th>
                               
                                <th style="width: 12%;" >Gross</th>
                                <th style="width: 8%;" >Tax</th>
                                <th style="width: 12%;" >Total</th>

                                <th style="width: 10%;" >Created By</th>

                                <th style="width: 7%;" >Status</th>

                                
                                
                                 <th style="width: 7%;" ></th> 
                                
                                
                              
                               
                                
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of lstSalesQuotation;"> 
                             <td style="width: 4%;">{{d.SNO}}</td>
                           
                                <td style="width: 11%;">{{d.TransactionDate| date:'mediumDate'}}</td>
                                <td style="width: 11%;">{{d.TransactionNo}}</td>
                                <td style="width: 18%;">{{d.PartyName}}</td>

                                <td style="width: 12%;">{{(+d.TotalGross).toFixed(2)}}</td>
                                <td style="width: 8%;">{{(+d.TotalTax).toFixed(2)}}</td>
                                <td style="width: 12%;">{{(+d.Total)|currency:'INR' }}</td>
                                <td style="width: 10%;">{{d.CreatedBy}}</td>
                                <td style="width: 7%;">{{d.TransactionStatus}}</td>
                                
                                
                               <td style="width: 7%;">
                                    <div class="dropdown">
                                        <div class="dropdown-toggle waves-effect waves-button waves-light dots"  data-toggle="dropdown">
                                           <i class="ti-more-alt"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="CreateSalesQuotation(d)" >Edit</a>
                                           
                                            <a class="dropdown-item" (click)="CreateSalesOrder(d)">Create Orders</a>
                                           
                                            <a class="dropdown-item" (click)="CreateDC(d)">Create DC</a>

                                            <a class="dropdown-item" (click)="CreateProformaInvoice(d)">Create Proforma Invoice</a>
                                            <a class="dropdown-item" (click)="CreateSalesInvoice(d)">Create Sales Invoice</a>
                                      
                                        </div>
                                    </div>
                                </td>
                               
                                
                               
                            </tr>
                            </tbody>
                        </table> -->
                       
                        <div class="dataTables_scroll">
                            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width:100%; padding-right: 17px;">
                                    <table class="table table-striped table-bordered dataTable" role="grid" style="margin-left: 0px;width: 100%;margin-bottom: 0px;">
                                        <thead>
                                            
                                            <tr  role="row">
                                                <th  style="width: 4%;" >#</th>                                              
                                               <th style="width: 8%;" >Date</th>                
                                               <th style="width:12%;" >Voucher No</th>  
                                                <th style="width: 18%;" >Customer Name</th>
                                                <th style="width: 8%;" >Gross</th>
                                                <th style="width: 8%;" >Tax</th>
                                                <th style="width: 8%;" >Total</th>  
                                                <th style="width: 16%;" >Reference</th>                 
                                                <th style="width: 7%;" >Created By</th>                
                                                <th style="width: 5%;" >Status</th>                                                  
                                                 <th style="width: 5%;" ></th>  
                                                
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 400px; width: 100%;display: inline !important;">
                                <table id="example2" class="table table-striped table-bordered dataTable" role="grid" 
                                aria-describedby="example2_info" style="width: 100%; table-layout: fixed;">
                                 
                        
                                    <tbody>
                                        <tr *ngFor="let d of lstSalesQuotation;"> 
                                            <td style="width: 4%;">{{d.SNO}}</td>
                                          
                                               <td style="width: 8%;padding: 0px 3px !important;vertical-align: baseline;">{{d.TransactionDate| date:'mediumDate'}}</td>
                                               <td style="width: 12%;padding: 0px 3px !important;vertical-align: baseline;">{{d.TransactionNo}}</td>
                                               <td style="width: 18%;padding: 0px 3px !important;vertical-align: baseline;">{{d.PartyName}}</td>
               
                                               <td style="width: 8%;padding: 0px 3px !important;vertical-align: baseline;">{{(+d.TotalGross).toFixed(2)}}</td>
                                               <td style="width: 8%;padding: 0px 3px !important;vertical-align: baseline;">{{(+d.TotalTax).toFixed(2)}}</td>
                                               <td style="width: 8%;padding: 0px 3px !important;vertical-align: baseline;">{{(+d.Total)|currency:'INR' }}</td>
                                               <td style="width: 16%;padding: 0px 3px !important;vertical-align: baseline;">
                                                <div *ngIf="d.CustomerRefNo!=''">CustRef: {{d.CustomerRefNo}}</div>
                                            <div *ngIf="d.ProductReference!=''">ProdRef: {{d.ProductReference}}</div></td>
                                               <td style="width: 7%;padding: 0px 3px !important;vertical-align: baseline;">{{d.CreatedBy}}</td>
                                               <td style="width: 5%;padding: 0px 3px !important;vertical-align: baseline;">{{d.TransactionStatus}}</td>
                                               
                                               
                                               
                                              <td style="width: 5%;padding: 0px 3px !important;vertical-align: baseline;">
                                                   <div class="dropdown">
                                                       <div class="dropdown-toggle waves-effect waves-button waves-light dots"  data-toggle="dropdown">
                                                          <i class="ti-more-alt"></i>
                                                       </div>
                                                       <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                           <a class="dropdown-item" (click)="CreateSalesQuotation(d)" >Edit</a>
                                                          
                                                           <!-- <a class="dropdown-item" (click)="ViewSalesOrder(d)">Orders</a> -->
                                                           <a class="dropdown-item" (click)="CreateSalesOrder(d)">Create Orders</a>
                                                          
                                                           <!-- <a class="dropdown-item" (click)="ViewDC(d)">DC</a> -->
                                                           <a class="dropdown-item" (click)="CreateDC(d)">Create DC</a>
               
                                                           <!-- <a class="dropdown-item" (click)="ViewProformaInvoice(d)">Proforma Invoice</a> -->
                                                           <a class="dropdown-item" (click)="CreateProformaInvoice(d)">Create Proforma Invoice</a>
                                                           <!-- <a class="dropdown-item" (click)="ViewSalesInvoice(d)">Sales Invoice</a> -->
                                                           <a class="dropdown-item" (click)="CreateSalesInvoice(d)">Create Sales Invoice</a>
                                                     
                                                       </div>
                                                   </div>
                                               </td>
                                              
                                               
                                              
                                           </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div> 
        
        
        
                
            </div>

            <div class="col-md-2">
                <!-- <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                            </div>
                        </div>
                      </div>
                      </div>   -->
                <div class="card">
                    <!-- <div class="card-header" style="font-size: large;">Select Customer</div> -->
                   
                    <div class="card-body">

                        <div class="row">
                            <!-- <div class="col-md-4">
                                <label for="SequenceNumberId">Voucher No Type</label>
                            </div>
                            <div class="col-md-8">
                                <dropdown-number-sequence formControlName='SequenceNumberId'   (NumberSequenceValueChange) ="NumberSequenceValueChange($event)"    [SequenceNumberId]="DisplaySequenceNumberId" [FormName]="DispalyFormName">
                                </dropdown-number-sequence>
                            </div> -->
                            <div class="col-md-12">
                                <div class="row">
                                    
                                
                                
                                    <!-- <div class="col-md-3"></div> -->
                                    <div class="col-md-12">
                                        <label for="Customer" id="PartyId" style="width:90%"><strong>Customer</strong></label>
                                        <select id="Customer" placeholder="select customer" class="js-example-basic-single mb-3"></select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 m-top-bot-auto mb-3" >
                                <div class="row">
                                    <div class="col-md-3 m-top-auto">
                                        <label for="SequenceNumberId"><strong>From</strong></label>

                                    </div>
                                    <div class="col-md-9">
                                       
                                        <input type="text" class="form-control"  name="single-date-picker"  id="TransactionDate"
                                        placeholder="Enter Date" (change)="QuotDateChange($event)"
                                       
                                       >
                                      
                                </div>

                                
                                </div>
                            </div>

                            <div class="col-md-12 m-top-bot-auto" >
                                <div class="row">
                                    <div class="col-md-3 m-top-auto">
                                        <label for="SequenceNumberId"><strong>To</strong></label>

                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="text" class="form-control"  name="single-date-picker"  id="TransactionDate1"
                                        placeholder="Enter Date" (change)="QuotDateChange1($event)"
                                       
                                       >
                                     
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <button class="btn btn-warning waves-effect waves-button waves-light" style="margin-right: 5px; background-color: 5d78ff;border-radius: 5px;font-weight: bold;width: 46.7%;display: initial;" type="button" (click)="Clear()" autocomplete="off">Clear</button>
                            
                                <button class="btn btn-warning waves-effect waves-button waves-light" style="border-radius: 5px;font-weight: bold;width: 46.7%;text-align: center;display: initial;" type="button" (click)="GetCustomerWiseSalesQuotation()" autocomplete="off">Go</button>
                            
                                </div>
                                
                                </div>
                            </div>


                            <!-- <div class="col-md-12 m-top-bot-auto mb-3" style="margin-bottom: 0px !important;">
                                <div class="row">
                                    <div class="col-md-3 m-top-auto">
                                    <label for="SequenceNumberId"><strong>Time</strong></label>
                                    </div>

                                    <div class="col-md-9">
                                    <div class="input-group clockpicker-autoclose-demo">
                                        <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                        </div>
                                        <input type="text" class="form-control"  name="single-date-picker"  id="TransactionDate"
                                                placeholder="Enter Date" (change)="QuotDateChange($event)"
                                               [ngClass]="{ 'is-invalid': submitted && f.TransactionDate.errors }"
                                               >
                                               <div *ngIf="submitted && f.TransactionDate.errors" class="invalid-feedback">
                                                <div *ngIf="f.TransactionDate.errors.required" style="color:red " >Date Required</div> 
                                    </div>
                                    </div>

                                    

                                
                                </div>
                                
                                </div>

                                
                            </div> -->


                            

                            

                            

                        
                            
                        </div>


                        


                                                

                       
                                            <!-- <label for="Date">Date & Time</label>
                                            <input type="text" class="mb-3 form-control"  name="single-date-picker"  id="TransactionDate"
                                             placeholder="Enter Date" (change)="QuotDateChange($event)"
                                            [ngClass]="{ 'is-invalid': submitted && f.TransactionDate.errors }"
                                            >
                                            <div *ngIf="submitted && f.TransactionDate.errors" class="invalid-feedback">
                                                <div *ngIf="f.TransactionDate.errors.required" style="color:red " >Date Required</div>
                                            </div> -->
                                            <!-- <label for="Time">Time</label>

                                            <div class="input-group clockpicker-autoclose-demo">
                                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                                </div>
                                                <input type="text" class="form-control"  id="TransactionTime"
                                               
                                                [ngClass]="{ 'is-invalid': submitted && f.TransactionTime.errors }"
                                                >
                                            <div *ngIf="submitted && f.TransactionTime.errors" class="invalid-feedback">
                                                <div *ngIf="f.TransactionTime.errors.required" style="color:red " >Time Required</div>
                                            </div>
                                            </div> -->
                                               
                                                 <!-- <input type="checkbox" style="width:15px; height:15px;" >
                                                 <label for="Inclusive">Inclusive Tax</label>
                                                 -->
                    </div>
                </div>

                <!-- <div class="card">
                    <div class="card-header"  style="font-size: large;">Mode Of Transport</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3  m-top-bot-auto">
                                <label for="SequenceNumberId">Mode</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="SaleType"  formControlName="SaleType" class="mb-3 form-control" >
                                            <option value="Credit" selected (click)="Courier()">Courier</option>
                                            <option value="Cash" (click)="Transport()">Transport</option>
                                            <option value="Cash" (click)="Vehicle()">Vehicle </option>
                                            <option value="Cash" (click)="Person()">Person</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row mb-3" *ngIf="FilterBy == 'Courier'">
                                
                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Name</label>
                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="text"  class="form-control">
                                    </div>

                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Tracking No</label>
                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="text"  class="form-control">
                                    </div>

                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Date</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="date"  class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-3" *ngIf="FilterBy == 'Transport'">

                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Name</label>
                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="text"  class="form-control">
                                    </div>

                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Tracking No</label>

                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="text"  class="form-control">
                                    </div>

                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Date</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="date"  class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3" *ngIf="FilterBy == 'Vehicle'">

                                    <div class="col-md-3  m-top-bot-auto">
                                        <label for="Time">Vehicle No</label>
                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="text"  class="form-control">
                                    </div>

                                    <div class="col-md-3  m-top-bot-auto">
                                        <label for="Time">Driver Name</label>
                                    </div>
                                    <div class="col-md-9 mb-3">                                        
                                        <input type="text"  class="form-control">
                                    </div>

                                    <div class="col-md-3  m-top-bot-auto">
                                        <label for="Time">Date</label>
                                    </div>
                                    <div class="col-md-9">                                        
                                        <input type="date"  class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-3" *ngIf="FilterBy == 'Person'">

                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Name</label>
                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="text"  class="form-control">
                                    </div>

                                    <div class="col-md-3  m-top-bot-auto">
                                        <label for="Time">Phone No</label>
                                    </div>
                                    <div class="col-md-9 mb-3">
                                        <input type="number"  class="form-control">
                                    </div>

                                    <div class="col-md-3 m-top-bot-auto">
                                        <label for="Time">Date</label>
                                    </div>
                                    <div class="col-md-9">                                        
                                        <input type="date"  class="form-control">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-3  m-top-bot-auto">
                                        <label for="SequenceNumberId">Disp By</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="SaleType"  formControlName="SaleType" class="mb-3 form-control" >
                                            <option value="Credit" selected >Baba</option>
                                            <option value="Cash" >Moin</option>
                                            <option value="Cash" >Mushtaq </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <p style="margin-bottom: 0px;"><i class="fa fa-picture-o" aria-hidden="true" style="margin-right:5px"></i><a href="#" style="text-decoration: underline;">Upload</a></p>
                                    </div>
                                </div>

                            
                            </div>

                            
                        </div>
                    </div>
                </div> -->

                <div class="card">
                    <div class="card-header"  style="font-size: large;">Summary</div>
                    <div class="card-header"  style="font-size: large;">Outstanding : 0.00</div>

                    <div class="card-body pb-4">
                        <div class="row">
                            <div class ="col-md-12">
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Gross"><strong class="f-15">Gross  </strong></label> <p class="m-0  p-0 f-15" style="float: right;">:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <span><strong class="f-15">{{TotalGross.toFixed(2)}}</strong></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="Gross"><strong class="f-15">Discount  </strong></label> <p class="m-0  p-0 f-15" style="float: right;">:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <span><strong class="f-15">{{TotalDiscount.toFixed(2)}}</strong></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="Gross"><strong class="f-15">Charges  </strong></label> <p class="m-0  p-0 f-15" style="float: right;">:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <span><strong class="f-15">{{TotalCharges.toFixed(2)}}</strong></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="Gross" style="margin-bottom: 4px;"><strong class="f-15">GST  </strong></label> <p class="m-0  p-0 f-15" style="float: right;">:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <span><strong class="f-15">{{TotalTax.toFixed(2)}}</strong></span>
                                    </div>

                                </div> 
                            </div>

                            <div class ="col-md-12 text-center" >
                                <label for="Total" class="f-33 f-w-900 m-0" style="font-family: revert;">{{totalAmnt.toFixed(2)}}</label>  
                            </div>

                           
                            <div class ="col-md-12"  style="font-size: 80%;">
                                <!-- <div  style="color:red ;font-size: 80%;" >Invalid  Amount to Save</div> -->
                               
                            </div>

                            <!-- <div class ="col-md-6" style="font-size: large;">
                                <label for="Total">Payment:</label>  
                            </div>

                            <div class ="col-md-6" style="font-size: large;">  
                                <label for="Total">{{TotalPayments|currency:'INR' }}</label>
                            </div> -->
                        </div>
                    </div>


                </div>
            </div>


           
        </div>

    </div>


    <div class="col-md-4">
        <div class="modal fade" id="SearchModel" tabindex="-1" role="dialog" aria-labelledby="SearchModelTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="SearchModelTitle">Search</h5>
                            <p *ngIf="showError" style="float: right" ><font color="red">{{errormsg}}</font></p>
                            <button type="button"  id="btnCloseDetailsItems" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="col-md-12">
                    
                                       <div class="card">
                    <div class="card-header">Search</div>
                    <div class="card-body">

                       
                                <div class="custom-control custom-switch" style="float:left">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch" checked="" (change)="FilterTypeChange($event)">
                                        <label class="custom-control-label" for="customSwitch">All Data</label>
                                    </div>

                                   

                                    <div class="custom-control custom-switch custom-checkbox-success" style="float: right">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch2_" checked="" (change)="SerchTypeChange($event.target.checked)">
                                            <label class="custom-control-label" for="customSwitch2_"> 
                                                Like</label>
                                        </div>
                            

                                     <div class="row  col-md-12">

                                            <div class="alert alert-info alert-with-border alert-dismissible" role="alert">
                                                    <i class="ti-alert m-r-10"></i>If Like Off Search with  '='
                                                </div>
                                     </div>
                        

                        <div class="input-group" *ngIf="FilterType=='All' && SerchType=='Like'">
                            <input type="text" class="form-control" placeholder="Search ..." formControlName="SearchString" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-light waves-effect waves-button waves-light" type="button" id="button-addon2"  data-dismiss="modal" (click)="SearchClick()">
                                    <i class="fa fa-search side-icons"></i>
                                </button>
                            </div>
                        </div>


<div class="row col-md-12" *ngIf="FilterType=='Field' ">



<label for="TransactionNo">Quotation No</label>
<input type="text" class="form-control" id="TransactionNo" formControlName="TransactionNo"  placeholder="Search SalesQuotation No">
<label for="CustomerName">Customer Name</label>
<input type="text" class="form-control" id="CustomerName" formControlName="CustomerName"  placeholder="search Customer Name">


<label for="Contactno">Contactno</label>
<input type="text" class="form-control" id="Contactno" formControlName="Contactno"  placeholder="search Contactno">



<div class="col-md-12 " style="float: right;padding-right:unset">
<button type="button" class=" btn btn-primary btn-rounded btn-uppercase waves-effect waves-button waves-light"  style="float: right;margin-top:10px "  data-dismiss="modal" (click)="SearchClick()">
<i class="ti-search m-r-5"></i> Search
</button>

</div>
</div>


 </div>
 </div>


 </div>
                        </div>
                        <div class="modal-footer">
                          
                         
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button> -->
        <table #TABLE #table 
        hidden>
           <thead >
               <tr role="row">
              
                    <th >S.NO</th>
                    <th >Date</th>
                    <th >VoucherNo</th>
                    <th >CustomerName</th>
                    <th>Gross</th>
                    <th>Tax</th>
                    <th >Total</th>
                    <th >Created By</th>
                    <th >Status</th>
                 
                   
              
                  
               </tr>
           </thead>
          <tbody>
            <tr *ngFor="let d of lstSalesQuotation;let i=index"> 
                    <td >{{i+1}}</td>
                   <td >{{d.TransactionDate| date:'mediumDate'}}</td>
                   <td >{{d.TransactionNo}}</td>
                   <td >{{d.PartyName}}</td>
                   <td >{{(+d.TotalGross).toFixed(2)}}</td>
                   <td >{{(+d.TotalTax).toFixed(2)}}</td>
                   <td >{{(+d.Total)|currency:'INR' }}</td>
                   <td >{{d.CreatedBy}}</td>
                   <td >{{d.TransactionStatus}}</td>
               </tr>
         </tbody>
        </table>
        </div>
</form>
<div  class="container" #PDFTable>
 
    <table class="table" hidden>
 
        <tr role="row">
          <th style="width:5% ;font-size: 10px;">S.No</th>
         <th   style="width:5% ;font-size: 10px;" > Date</th>
         <th  style="width:5% ;font-size: 10px;" > VoucherNo</th>
         <th  style="width:5% ;font-size: 10px;">CustomerName</th>
         <th  style="width:5% ;font-size: 1px;" >Gross</th>
         <th   style="width:5% ;font-size: 10px;">Tax</th>
         <th  style="width:5% ;font-size: 10px;" >Total</th>
         <th  style="width:5% ;font-size: 10px;" >Created By</th>
         <th   style="width:5% ;font-size: 10px;">Status</th>
        
     
        </tr>
  
        <tr *ngFor="let d of lstSalesQuotation;let i=index"> 
            <td style="width:5% ;font-size: 10px;">{{i+1}}</td>
           <td style="width:5% ;font-size: 10px;">{{d.TransactionDate| date:'mediumDate'}}</td>
           <td style="width:5% ;font-size: 10px;">{{d.TransactionNo}}</td>
           <td style="width:5% ;font-size: 10px;">{{d.PartyName}}</td>
           <td style="width:5% ;font-size: 10px;">{{(+d.TotalGross).toFixed(2)}}</td>
           <td style="width:5% ;font-size: 10px;">{{(+d.TotalTax).toFixed(2)}}</td>
           <td style="width:5% ;font-size: 10px;">{{(+d.Total)|currency:'INR' }}</td>
           <td style="width:5% ;font-size: 10px;">{{d.CreatedBy}}</td>
           <td style="width:5% ;font-size: 10px;">{{d.TransactionStatus}}</td>
       </tr>
    </table>

  </div>
</main>













